<a href="https://colab.research.google.com/github/cassiomo/trainlab/blob/main/Copy_of_TRAIN_YLC_Week_14_Homework_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework 14: Data Wrangling**
---
### **Description**
This notebook is designed to provide hands-on experience in data wrangling using pandas. You will execute different data wrangling tasks including data cleaning, feature engineering, and feature selection.



### **Structure**
**Part 1**: [Salary Dataset](#p1)

**Part 2**: [Additional Practice](#p2)





<br>


### **Resources**
* [Data Wrangling with pandas](https://docs.google.com/document/d/1Ku2E1Dev0Xo8HOmIkq5jA-FaKwhD_cJkPkXBjTWECdQ/edit?usp=sharing)

<br>

**Before starting, run the code below to import all necessary functions and libraries.**

In [1]:
import pandas as pd
from sklearn import datasets
import numpy as np

<a name="p1"></a>

---
## **Part 1: Salary Dataset**
---


**Run the cell below to load the DataFrame before continuing.**

In [2]:
df = pd.DataFrame({
    'Age': [25, 30, np.nan, 45, 50, np.nan, 35, 40, np.nan, 55],
    'Salary': [50000, 60000, 55000, np.nan, 65000, 70000, 45000, 80000, np.nan, 90000],
    'Experience': [2, 4, 3, 5, 6, 4, 1, 7, 8, 5],
    'Department': ['Sales', 'HR', 'IT', 'Marketing', 'IT', 'Sales', 'HR', 'HR', 'Marketing', 'IT']
})

df

    Age   Salary  Experience Department
0  25.0  50000.0           2      Sales
1  30.0  60000.0           4         HR
2   NaN  55000.0           3         IT
3  45.0      NaN           5  Marketing
4  50.0  65000.0           6         IT
5   NaN  70000.0           4      Sales
6  35.0  45000.0           1         HR
7  40.0  80000.0           7         HR
8   NaN      NaN           8  Marketing
9  55.0  90000.0           5         IT

### **Problem #1.1**

Identify which cells in the DataFrame contain missing values.

In [3]:
missing_values = df.isnull()
print(missing_values)

     Age  Salary  Experience  Department
0  False   False       False       False
1  False   False       False       False
2   True   False       False       False
3  False    True       False       False
4  False   False       False       False
5   True   False       False       False
6  False   False       False       False
7  False   False       False       False
8   True    True       False       False
9  False   False       False       False

### **Problem #1.2**

Drop all rows from the DataFrame where the 'Age' column has missing data.

In [5]:
df_filtered = df.dropna(subset=['Age'])
print(df_filtered)

    Age   Salary  Experience Department
0  25.0  50000.0           2      Sales
1  30.0  60000.0           4         HR
3  45.0      NaN           5  Marketing
4  50.0  65000.0           6         IT
6  35.0  45000.0           1         HR
7  40.0  80000.0           7         HR
9  55.0  90000.0           5         IT

### **Problem #1.3**

Calculate the mean salary and use this value to fill in any missing salaries in the DataFrame.

In [6]:
mean_salary = df['Salary'].mean()

df['Salary'].fillna(mean_salary, inplace=True)
print(df)

    Age   Salary  Experience Department
0  25.0  50000.0           2      Sales
1  30.0  60000.0           4         HR
2   NaN  55000.0           3         IT
3  45.0  64375.0           5  Marketing
4  50.0  65000.0           6         IT
5   NaN  70000.0           4      Sales
6  35.0  45000.0           1         HR
7  40.0  80000.0           7         HR
8   NaN  64375.0           8  Marketing
9  55.0  90000.0           5         IT

### **Problem #1.4**

Rename the 'Department' column to 'Dept'.

In [7]:
df.rename(columns={'Department': 'Dept'}, inplace=True)

print(df)

    Age   Salary  Experience       Dept
0  25.0  50000.0           2      Sales
1  30.0  60000.0           4         HR
2   NaN  55000.0           3         IT
3  45.0  64375.0           5  Marketing
4  50.0  65000.0           6         IT
5   NaN  70000.0           4      Sales
6  35.0  45000.0           1         HR
7  40.0  80000.0           7         HR
8   NaN  64375.0           8  Marketing
9  55.0  90000.0           5         IT

### **Problem #1.5**

Find and remove any duplicate rows in the DataFrame.

In [8]:
df_no_duplicates = df.drop_duplicates()

print(df_no_duplicates)

    Age   Salary  Experience       Dept
0  25.0  50000.0           2      Sales
1  30.0  60000.0           4         HR
2   NaN  55000.0           3         IT
3  45.0  64375.0           5  Marketing
4  50.0  65000.0           6         IT
5   NaN  70000.0           4      Sales
6  35.0  45000.0           1         HR
7  40.0  80000.0           7         HR
8   NaN  64375.0           8  Marketing
9  55.0  90000.0           5         IT

### **Problem #1.6**

Create a new column `Salary_Per_Year_Experience` by dividing the `Salary` column by the `Experience` column.

In [9]:
df['Salary_Per_Year_Experience'] = df['Salary'] / df['Experience']

print (df)

    Age   Salary  Experience       Dept  Salary_Per_Year_Experience
0  25.0  50000.0           2      Sales                25000.000000
1  30.0  60000.0           4         HR                15000.000000
2   NaN  55000.0           3         IT                18333.333333
3  45.0  64375.0           5  Marketing                12875.000000
4  50.0  65000.0           6         IT                10833.333333
5   NaN  70000.0           4      Sales                17500.000000
6  35.0  45000.0           1         HR                45000.000000
7  40.0  80000.0           7         HR                11428.571429
8   NaN  64375.0           8  Marketing                 8046.875000
9  55.0  90000.0           5         IT                18000.000000

### **Problem #1.7**

Add 2 years to the `Experience` column and store the result in a new column `Adjusted_Experience`.

In [10]:
df['Adjusted_Experience'] = df['Experience'] + 2
print(df)

    Age   Salary  Experience       Dept  Salary_Per_Year_Experience  \
0  25.0  50000.0           2      Sales                25000.000000
1  30.0  60000.0           4         HR                15000.000000
2   NaN  55000.0           3         IT                18333.333333
3  45.0  64375.0           5  Marketing                12875.000000
4  50.0  65000.0           6         IT                10833.333333
5   NaN  70000.0           4      Sales                17500.000000
6  35.0  45000.0           1         HR                45000.000000
7  40.0  80000.0           7         HR                11428.571429
8   NaN  64375.0           8  Marketing                 8046.875000
9  55.0  90000.0           5         IT                18000.000000

   Adjusted_Experience
0                    4
1                    6
2                    5
3                    7
4                    8
5                    6
6                    3
7                    9
8                   10
9                    7

### **Problem #1.8**

Remove the `Experience` column from the DataFrame.

In [12]:
# Remove the 'Experience' column
df = df.drop(columns=['Experience'])

# Display the DataFrame without the 'Experience' column
print(df)

    Age   Salary       Dept  Salary_Per_Year_Experience  Adjusted_Experience
0  25.0  50000.0      Sales                25000.000000                    4
1  30.0  60000.0         HR                15000.000000                    6
2   NaN  55000.0         IT                18333.333333                    5
3  45.0  64375.0  Marketing                12875.000000                    7
4  50.0  65000.0         IT                10833.333333                    8
5   NaN  70000.0      Sales                17500.000000                    6
6  35.0  45000.0         HR                45000.000000                    3
7  40.0  80000.0         HR                11428.571429                    9
8   NaN  64375.0  Marketing                 8046.875000                   10
9  55.0  90000.0         IT                18000.000000                    7

<a name="p2"></a>

---
## **Part 2: Additional Practice**
---

### **Problem #2.1**

Add a new column `Total` by multiplying `Quantity` and `Price`.

In [24]:
data = {'Quantity': [2, 3, 4, 1],
        'Price': [10.99, 5.99, 3.99, 2.99]}
df = pd.DataFrame(data)

# Add a new column 'Total'
# TYPE CODE HERE

df['Total'] = df['Quantity'] * df['Price']

print(df)

   Quantity  Price  Total
0         2  10.99  21.98
1         3   5.99  17.97
2         4   3.99  15.96
3         1   2.99   2.99

### **Problem #2.2**

Add a new column `Speed` by dividing `Distance` by `Time`.

In [15]:
data = {'Distance': [100, 200, 150, 120],
        'Time': [10, 15, 12, 8]}
df = pd.DataFrame(data)

# Add a new column 'Speed'
# TYPE CODE HERE

df['Speed'] = df['Distance'] / df['Time']

print(df)

   Distance  Time      Speed
0       100    10  10.000000
1       200    15  13.333333
2       150    12  12.500000
3       120     8  15.000000

### **Problem #2.3**

Add a new column `Profit` by subtracting `Expenses` from `Revenue`.

In [17]:
data = {'Revenue': [1000, 1500, 1200, 800],
        'Expenses': [500, 600, 800, 400]}
df = pd.DataFrame(data)

# Add a new column 'Profit' by subtracting 'Expenses' from 'Revenue'
# TYPE CODE HERE

df['Profit'] = df['Revenue'] - df['Expenses']

print(df)

   Revenue  Expenses  Profit
0     1000       500     500
1     1500       600     900
2     1200       800     400
3      800       400     400

### **Problem #2.4**

Drop `City` and `State` from the DataFrame below.

In [19]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'City': ['New York', 'Los Angeles', 'Chicago'],
        'State': ['NY', 'CA', 'IL'],
        'Country': ['USA', 'USA', 'USA']}
df = pd.DataFrame(data)

# Drop 'City' and 'State' columns
# TYPE CODE HERE

df.drop(['City', 'State'], axis=1, inplace=True)

print(df)

   Name Country
0  John     USA
1  Jane     USA
2  Mike     USA

### **Problem #2.5**

Drop `Height` and `Weight` from the DataFrame below.

In [23]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'Height': [175, 160, 180],
        'Weight': [70, 55, 80]}
df = pd.DataFrame(data)

# Drop 'Height' and 'Weight' columns
# TYPE CODE HERE
df.drop(['Height', 'Weight'], axis=1, inplace=True)

print(df)

   Name
0  John
1  Jane
2  Mike

---
#End of Notebook

© 2024 The Coding School, All rights reserved