<a href="https://colab.research.google.com/github/cassiomo/trainlab/blob/main/TRAIN_YLC_Week_14_Homework_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework 14: Data Wrangling**
---
### **Description**
This notebook is designed to provide hands-on experience in data wrangling using pandas. You will execute different data wrangling tasks including data cleaning, feature engineering, and feature selection.



### **Structure**
**Part 1**: [Salary Dataset](#p1)

**Part 2**: [Additional Practice](#p2)





<br>


### **Resources**
* [Data Wrangling with pandas](https://docs.google.com/document/d/1Ku2E1Dev0Xo8HOmIkq5jA-FaKwhD_cJkPkXBjTWECdQ/edit?usp=sharing)

<br>

**Before starting, run the code below to import all necessary functions and libraries.**

In [ ]:
import pandas as pd
from sklearn import datasets
import numpy as np

<a name="p1"></a>

---
## **Part 1: Salary Dataset**
---


**Run the cell below to load the DataFrame before continuing.**

In [ ]:
df = pd.DataFrame({
    'Age': [25, 30, np.nan, 45, 50, np.nan, 35, 40, np.nan, 55],
    'Salary': [50000, 60000, 55000, np.nan, 65000, 70000, 45000, 80000, np.nan, 90000],
    'Experience': [2, 4, 3, 5, 6, 4, 1, 7, 8, 5],
    'Department': ['Sales', 'HR', 'IT', 'Marketing', 'IT', 'Sales', 'HR', 'HR', 'Marketing', 'IT']
})

df

### **Problem #1.1**

Identify which cells in the DataFrame contain missing values.

### **Problem #1.2**

Drop all rows from the DataFrame where the 'Age' column has missing data.

### **Problem #1.3**

Calculate the mean salary and use this value to fill in any missing salaries in the DataFrame.

### **Problem #1.4**

Rename the 'Department' column to 'Dept'.

### **Problem #1.5**

Find and remove any duplicate rows in the DataFrame.

### **Problem #1.6**

Create a new column `Salary_Per_Year_Experience` by dividing the `Salary` column by the `Experience` column.

### **Problem #1.7**

Add 2 years to the `Experience` column and store the result in a new column `Adjusted_Experience`.

### **Problem #1.8**

Remove the `Experience` column from the DataFrame.

<a name="p2"></a>

---
## **Part 2: Additional Practice**
---

### **Problem #2.1**

Add a new column `Total` by multiplying `Quantity` and `Price`.

In [ ]:
data = {'Quantity': [2, 3, 4, 1],
        'Price': [10.99, 5.99, 3.99, 2.99]}
df = pd.DataFrame(data)

# Add a new column 'Total'
# TYPE CODE HERE

print(df)

### **Problem #2.2**

Add a new column `Speed` by dividing `Distance` by `Time`.

In [ ]:
data = {'Distance': [100, 200, 150, 120],
        'Time': [10, 15, 12, 8]}
df = pd.DataFrame(data)

# Add a new column 'Speed'
# TYPE CODE HERE

print(df)

### **Problem #2.3**

Add a new column `Profit` by subtracting `Expenses` from `Revenue`.

In [ ]:
data = {'Revenue': [1000, 1500, 1200, 800],
        'Expenses': [500, 600, 800, 400]}
df = pd.DataFrame(data)

# Add a new column 'Profit' by subtracting 'Expenses' from 'Revenue'
# TYPE CODE HERE

print(df)

### **Problem #2.4**

Drop `City` and `State` from the DataFrame below.

In [ ]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'City': ['New York', 'Los Angeles', 'Chicago'],
        'State': ['NY', 'CA', 'IL'],
        'Country': ['USA', 'USA', 'USA']}
df = pd.DataFrame(data)

# Drop 'City' and 'State' columns
# TYPE CODE HERE

print(df)

### **Problem #2.5**

Drop `Height` and `Weight` from the DataFrame below.

In [ ]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'Height': [175, 160, 180],
        'Weight': [70, 55, 80]}
df = pd.DataFrame(data)

# Drop 'Height' and 'Weight' columns
# TYPE CODE HERE

print(df)

---
#End of Notebook

© 2024 The Coding School, All rights reserved